#friendList {
	height: 500px;
	margin-left: 33px;
}

#talkWindow {
	height: 500px;
	margin-left: 15px;
}

#chatBoxUl {
	height: 427px;
	overflow: scroll;
	overflow-x: hidden;
}

#chatBoxUl::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

#chatBoxUl::-webkit-scrollbar-track {
	background: #f3f3f3;
}

#chatBoxUl::-webkit-scrollbar-thumb {
	background: #26ccb8;
	border-radius: 5px;
}

.bg1 {
	background-color: #e7bd78;
}

.bg2 {
	background-color: #349c71;
}

#chatBox ul {
	padding: 10px;
	max-height: 380px;
	overflow: auto;
	overflow-x: hidden;
}

#chatBox span {
	word-break: break-word;
	word-wrap: break-word;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
}

.receiver {
	clear: both;
}

.receiver div:nth-of-type(1) {
	float: left;
}

.receiver div:nth-of-type(2) {
	background-color: rgba(255, 118, 0, 0.58);
	float: left;
	margin: 10px 10px 10px 20px;
	padding: 5px 5px 5px 0px;
	border-radius: 7px;
	max-width: 500px;
}

.receiver div:first-child img, .sender div:first-child img {
	width: 50px;
	height: 50px;
}

.sender {
	clear: both;
}

.sender div:nth-child(1) {
	float: right;
}

.sender div:nth-of-type(2) {
	float: right;
	background-color: rgba(84, 215, 255, 0.8);
	margin: 10px 10px 10px 20px;
	padding: 5px 0px 5px 5px;
	border-radius: 7px;
	max-width: 500px;
}

.right_triangle {
	height: 0px;
	width: 0px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent rgba(255, 118, 0, 0.58) transparent
		transparent;
	position: relative;
	left: -16px;
	top: 3px;
}

.left_triangle {
	height: 0px;
	width: 0px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent
		rgba(84, 215, 255, 0.8);
	position: relative;
	right: -16px;
	top: 3px;
}